.sewa_tlt {
  position: absolute;
  margin: 2% 3%;
  color: black;
  font-size: 40px;
  font-family: lucida handwriting;
}

.sign_tlt {
  position: absolute;
  margin: 10% 43%;
  color: black;
  font-size: 40px;
  width: 15%;
  font-family: cursive;
}

.container {
  position: absolute;
  margin: 17% 34%;
  width: 30%;
  height: 90%;
  border-radius: 20px;
  background-color: #157ff8;
}

.nama_txt {
  position: absolute;
  margin: 12% 12%;
  font-size: 20px;
  font-family: cursive;
  color: white;
}

.alamat_txt {
  position: absolute;
  margin: 25% 12%;
  font-size: 20px;
  font-family: cursive;
  color: white;
}

.nik_txt {
  position: absolute;
  margin: 38% 12%;
  font-size: 20px;
  font-family: cursive;
  color: white;
}

.pass_txt {
  position: absolute;
  margin: 50% 12%;
  font-size: 20px;
  font-family: cursive;
  color: white;
}

.pass2_txt {
  position: absolute;
  margin: 63% 12%;
  font-size: 20px;
  font-family: cursive;
  color: white;
}

.ed_nama {
  position: absolute;
  margin: 16% 12%;
  width: 73%;
  border-radius: 10px;
  font-size: 15px;
  height: 5%;
}

.ed_alamat {
  position: absolute;
  margin: 29% 12%;
  width: 73%;
  border-radius: 10px;
  font-size: 15px;
  height: 5%;
}

.ed_nik {
  position: absolute;
  margin: 42% 12%;
  width: 73%;
  border-radius: 10px;
  font-size: 15px;
  height: 5%;
}

.ed_pass {
  position: absolute;
  margin: 55% 12%;
  width: 73%;
  border-radius: 10px;
  font-size: 15px;
  height: 5%;
}

.ed_pass2 {
  position: absolute;
  margin: 67% 12%;
  width: 73%;
  border-radius: 10px;
  font-size: 15px;
  height: 5%;
}

.login {
  position: absolute;
  margin: 85% 8%;
  width: 45%;
  color: black;
  font-family: calibri;
}

.but1 {
  border: none;
  position: absolute;
  color: white;
  padding: 15px 151px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 43% 35%;
  transition-duration: 1s;
  cursor: pointer;
  border-radius: 10px;
}

.button1 {
  background-color: #155df8;
  color: white;
  /* border: 2px solid blue; */
}

.button1:hover {
  background-color: green;
  color: white;
}

.container2 {
  position: absolute;
  height: 50%;
  margin: 60% 35%;
}
